<!-- <div>
    <p>about works!</p>
    <p>{{ myName}} </p>
    <p>{{ myName | uppercase }} </p>
    <p> {{ mySalary | currency : '₹' }} </p>
    <p> {{ mySalary | currency : 'INR' }} </p>
</div> -->


<div>

    <p>about works!</p>

    <p>Display array elements with *ngFor</p>
    <div *ngFor="let num of myNums"> {{ num }} </div>

    <h3>List of Employees</h3>
    <div *ngFor="let emp of empList"> {{emp.eid}} {{emp.fName}} {{emp.salary}}</div>

    <h3>List of Employees</h3>
    <div *ngFor="let emp of empList">
        <span *ngFor="let e of emp | keyvalue">
            {{ e.key }}: {{ e.value }}
        </span>
    </div>

    <h3>List of Employees</h3>
    <span *ngFor="let e of empList[0] | keyvalue"> <b> {{ e.key }} </b> </span>
    <div *ngFor="let emp of empList">
        <span *ngFor="let item of emp | keyvalue"> {{ item.value }} </span>
    </div>

</div>