<h3>Emp Data</h3>
<div>
    <p>Search Employee by Id</p>
    <input type="number" (input)="setEid($event)">
    <br />
    <br />
    <button (click)="getEmpById()">Get Employee by Id</button>
</div>
<div>
    <p>Found employee by id</p>
    <p>Emp id : {{empData.id}} </p>
    <p>Emp name : {{empData.name}} </p>
    <p>Emp email : {{empData.email}} </p>
    <p>Emp username : {{empData.username}} </p>
</div>
<button >Get All Employees</button>
<div>
    <p>All employees data</p>
    <div>render all employees data here</div>
</div>