<div class="container">

    <h3>Emp Data</h3>

    <div>
        <form [formGroup]="addEmpForm" (ngSubmit)="addEmp()">
            <input type="text" formControlName="name">
            <br />
            <br />
            <input type="text" formControlName="userName">
            <br />
            <br />
            <input type="email" formControlName="email">
            <br />
            <br />
            <button type="submit">Add Employee</button>
        </form>
    </div>
    

    <div>
        <p>Search Employee by Id</p>
        <input type="number" (input)="setEid($event)">
        <br />
        <br />
        <button (click)="getEmpById()">Get Employee by Id</button>
    </div>
    <div>
        <p>Found employee by id</p>
        <p>Emp id : {{empData.id}} </p>
        <p>Emp name : {{empData.name}} </p>
        <p>Emp email : {{empData.email}} </p>
        <p>Emp username : {{empData.username}} </p>
    </div>
    <button (click)="getAllEmps()">Get All Employees</button>

    <div>
        <p>All employees data</p>
        <div class="col-6">
            <div *ngIf="allEmps.length > 0">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Eid</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of allEmps">
                            <td>{{emp.id}}</td>
                            <td>{{emp.name}}</td>
                            <td>{{emp.username}}</td>
                            <td>{{emp.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div>
    <p>All employees data</p>
    <div>
        <div *ngIf="allEmps.length > 0">
            <table>
                <thead>
                    <tr>
                        <th>Eid</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of allEmps">
                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.username}}</td>
                        <td>{{emp.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 